*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark{
  background-color: black;
}

.light{
  background-color: rgb(248, 229, 125);
}
.container{
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
}

.row{
display: flex;
justify-content: space-between;
}

.column{
  width: 100%/2;
}

.flex{
  display: flex;
}

.a-center{
  align-items: center;
}

.j-center{
  justify-content: center;
}


.relative{
  position: relative;
}

.absolute{
  position: absolute;
  left: -41px;
}

#interruttoreLampadina{
  padding: 10px;
  border-radius: 20px;
  width: 150px;
}

.none{
  display: none;
}